---
title: Contact
permalink: /contact
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="investment">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            Contact
        </h1>
        <p class="editable p-lg col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            If you'd like to know more about CCM Group, please get in touch.
        </p>
    </header>

    <main>
        
        <section class="wo pv-small">
            <div class="col-2-to-6 m-col-2-to-5 s-col-1-to-5">
                <h2 class="h2 editable">
                    CCM Group
                </h2>
                <div class="editable p-lg">
                    <p>1730 Massachusetts Ave. NW<br />Washington, DC 20036<br /><a href="mailto:info@ccmgroupllc.com">info@ccmgroupllc.com</a><br />202-315-2400</p>
                </div>
            </div>

            <div class="contact-map col-6-to-12 m-col-5-to-8 s-col-1-to-5">
                {% assign longVAR =  -77.03993645733048 %}
                {% assign latVAR =  38.90838428568477 %}
                {% include google-map.html latitude=latVAR longitude=longVAR zoom=15 %}
            </div>
        </section>

        <section class="full-w-image wo pv">
            <img class="editable col-1-to-13 m-col-1-to-9 s-col-1-to-5" src="blob:https://blue-smokescreen--9626033zx-cloudventzx-net.proxy.cloudcannon.com/e96e1938-2ec8-4024-b2f3-09a066153856" alt="Alt text." />
        </section>
    </main>
</div>

{% include footer.html %}
