---
title: Contact
permalink: /contact/
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="investment">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9">Contact</h1>
        <p class="editable p-lg col-2-to-9">
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Donec odio. Quisque volutpat.
        </p>
    </header>

    <main>
        
        <section class="wo pv-small">
            <h2 class="h2 editable col-2-to-11">
                CCM Group
            </h2>
            <div class="editable p-lg col-2-to-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit.
                </p>
            </div>

            <div class="editable p-lg col-7-to-11">
                <p>
                    1730 Massachusetts Ave. NW<br>
                    Washington, DC 20036<br>
                    info@ccmgroupllc.com<br>
                    202-315-2400
                    <br><br>
                    <a href="">Google Map</a>
                </p>
            </div>
        </section>

        {% include /blocks/full-w-image.html %}
    </main>
</div>

{% include footer.html %}