---
title: History
permalink: /about/history
history_timeline:
  - year: 1977
    text: >-
      Andre Nikitine founds Commercial Centers Management (CCM), purchasing six
      shopping centers in Puerto Rico.
    image: /assets/_images/placeholder8.jpg
    image_alt: Image alt
  - year: 1983
    text: >-
      CCM purchases Winter Park Mall in addition to two other properties in
      Orlando Florida with partner Robert Wettenhall.
    image: /assets/_images/placeholder8.jpg
    image_alt: Image alt
  - year:
    text: >-
      CCM becomes the first developer of self-storage facilities in Puerto Rico.
      Andre’s son, Vadim Nikitine, opens the first Western-style office suites
      and the first Radio Shack while working in the former Soviet Union.
    image: /assets/_images/placeholder8.jpg
    image_alt: Image alt
  - year: 1991
    text: >-
      Jorge Fournier (current CCM Puerto Rico president) joins the company’s
      finance department.
    image: /assets/_images/placeholder8.jpg
    image_alt: Image alt
  - year: 1994
    text: Vadim becomes president and CEO of CCM following Andre’s death.
    image: /assets/_images/placeholder8.jpg
    image_alt: Image alt
  - year: 1996
    text: >-
      CCM converts an open-air shopping center into Santa Rosa Mall, adding over
      30,000 square feet of retail space and the construction of a five-story
      parking deck.  
    image:
    image_alt:
  - year: 2006
    text: >-
      Vadim Nikitine and his wife, Kristin Ehrgood co-found the Flamboyan
      Foundation with a mission to improve educational outcomes for children
      most impacted by inequality. The private family foundation is CCM Group's
      main philanthropic endeavor.
    image:
    image_alt:
  - year: 2006
    text: >-
      Vadim Nikitine and his wife, Kristin Ehrgood co-found the Flamboyan
      Foundation with a mission to improve educational outcomes for children
      most impacted by inequality. The private family foundation is CCM Group's
      main philanthropic endeavor.
    image:
    image_alt:
  - year: 2009
    text: >-
      CCM U.S. launces in Washington, D.C. It begins acquiring properties in
      Virginia, Florida, and North Carolina and makes its first investments in
      Puerto Rico hotels including Sheraton, Marriott, and AC Marriott.
    image:
    image_alt:
  - year:
    text: >-
      Expansion of CCMs portfolio through partnerships with BedRock Real Estate,
      Chartwell Property Group, Interlink, Laurel Street, and Middleburg
      Communities. Also expands holdings in industrial, medical, hospitality,
      and residential properties.
    image:
    image_alt:
  - year: '2019'
    text: >-
      Launch of CSE-CCM Realty Investments, a segment of the partnership between
      the multi-faceted real estate organization CASTO and CCM Group.
    image:
    image_alt:
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="history">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            History
        </h1>
        <p class="editable col-2-to-9 m-col-1-to-7 s-col-1-to-5 p-lg">
            The roots of CCM Group stretch back to 1997 with the launch of Commercial Centers Management Realty in Puerto Rico. The company's focus on acquisition, development, leasing and asset management services allowed it to grow quickly across the island with various property types.
        </p>
    </header>

    <main class="history">
        <div class="history-line"></div>
        {% for item in page.history_timeline %}
        <section class="history-entry history-entry--{% cycle 'left', 'right'%} wo pv-med">
            <div class="history-entry__image col-2-to-8 m-col-1-to-5 s-col-1-to-5">
                <img src="{{ item.image }}" alt="{{ item.image_alt }}" />
            </div>
            <div class="history-entry__content col-8-to-13 m-col-5-to-9 s-col-1-to-5">
                <h2 class="h2">{{ item.year }}</h2>
                <p>
                    {{ item.text }}
                </p>
            </div>
        </section>
        {% endfor %}
    </main>
</div>

{% include footer.html %}
