---
title: History
permalink: /about/history
history_timeline:
    - year: 1900
      text: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
      image: /assets/_images/placeholder8.jpg
      image_alt: Image alt
    - year: 1900
      text: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
      image: /assets/_images/placeholder8.jpg
      image_alt: Image alt
    - year: 1900
      text: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
      image: /assets/_images/placeholder8.jpg
      image_alt: Image alt
    - year: 1900
      text: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
      image: /assets/_images/placeholder8.jpg
      image_alt: Image alt
    - year: 1900
      text: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
      image: /assets/_images/placeholder8.jpg
      image_alt: Image alt
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="history">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9">History</h1>
        <p class="editable col-2-to-9 p-lg">
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Donec odio. Quisque volutpat.
        </p>
    </header>

    <main class="history">
        <div class="history-line"></div>
        {% for item in page.history_timeline %}
        <section class="history-entry history-entry--{% cycle 'left', 'right'%} wo pv-med">
            <div class="history-entry__image col-2-to-8">
                <img src="{{ item.image }}" alt="{{ item.image_alt }}">
            </div>
            <div class="history-entry__content col-8-to-13">
                <h2 class="h2">{{ item.year }}</h2>
                <p>
                    {{ item.text }}
                </p>
            </div>
        </section>
        {% endfor %}
    </main>
</div>

{% include footer.html %}