---
title: Impact
permalink: /impact/
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="investment">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            Impact
        </h1>
        <p class="editable p-lg col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            The most important aspect of our success is the impact it allows us to make in our community.
        </p>
    </header>

    <main>
        {% include /blocks/intro.html %}

        {% include /blocks/stats.html %}

        {% include /blocks/general-content.html %}

        {% include /blocks/full-w-image.html %}

        {% include /blocks/cta.html %}

        {% include /blocks/cta.html %}
        
    </main>
</div>

{% include footer.html %}
