---
title: Home
hero_video_path: /uploads/video/ccm-hero-video.m4v
hero_video_poster_image:
hero_video_description:
---

{% include head.html %}

<main data-barba="container" data-barba-namespace="default">
    <section class="home-hero wo pv">
        <p class="editable p-lg col-1-to-9">
            As a trusted investment partner, we're as committed to generating exceptional returns from our real estate holdings as we are to having a positive philanthropic impact.
        </p>
        <h1 class="h1 col-1-to-10">
            <span>Invest. </span>
            <span>Build. </span>
            <span>Grow. </span>
            <span>Give.</span>
        </h1>
        <div class="home-hero__video col-1-to-13">
            <button id="videoControl" class="pause" aria-label="Pause and Play Video. Ambient, no audio.">
            </button>
            <video id="heroVideo" preload="auto" autoplay="" aria-hidden="true" poster="{{ page.hero_video_poster_image}}" loop="" width="2000">
                <source src="{{ page.hero_video_path }}" type="video/mp4" />
                <p>{{ page.hero_video_description }}</p>
            </video>
        </div>
    </section>

    <section class="home-intro wo pv-lg">
        <div class="section-heading col-3-to-11">
            <h2 class="editable h2">
                Purpose + Patience + Diversification: Our proven success formula.
            </h2>
            <p class="editable p-lg">
                Our long-term approach and strategic partnerships deliver superior, risk-adjusted returns. With purpose-driven values, a diverse portfolio, expertise, and longevity, CCM Group is a sought-after investor for emerging and established developers seeking flexible and creative capitalization structures.
            </p>
        </div>
    </section>

    <section class="stats wo pv-lg">
        <h2 class="sr-only">Statistics</h2>
        <div class="col-1-to-5">
            <img class="editable" src="/uploads/icons/noun_buildings_1845695.svg" alt="Icon" />
            <h3 class="h1 editable">
                100+
            </h3>
            <p class="h4 editable">
                Properties in the U.S. and Puerto Rico
            </p>
        </div>
        <div class="col-5-to-9">
            <img class="editable" src="/uploads/icons/noun_neighbourhood_3265215.svg" alt="Icon" />
            <h3 class="h1 editable">
                1M+
            </h3>
            <p class="h4 editable">
                Square feet of holdings
            </p>
        </div>
        <div class="col-9-to-13">
            <img class="editable" src="/uploads/icons/noun_Employee_3264808.svg" alt="Icon" />
            <h3 class="h1 editable">
                200+&nbsp;
            </h3>
            <p class="h4 editable">
                Employees
            </p>
        </div>
    </section>

    <section class="ft-properties wo pv">
        <h2 class="h3 editable col-1-to-13 m-col-1-to-11 s-col-1-to-5">
            Featured holdings
        </h2>
        <div class="property ft-properties__property--ft col-1-to-13 m-col-1-to-11 s-col-1-to-5">
            <img src="/assets/_images/placeholder3.jpg" alt="" />
            <h3 class="h4">
                Property Name
            </h3>
            <h4 class="p">
                Category
            </h4>
            <a class="link" href="#">
                View property
                <span class="sr-only">: Property Name</span>
            </a>
        </div>
        <div class="property col-1-to-5">
            <img src="/assets/_images/placeholder2.jpg" alt="" />
            <h3 class="h4">
                Property Name
            </h3>
            <h4 class="p">
                Category
            </h4>
            <a class="link" href="#">
                View property
                <span class="sr-only">: Property Name</span>
            </a>
        </div>
        <div class="property col-5-to-9">
            <img src="/assets/_images/placeholder5.jpg" alt="" />
            <h3 class="h4">
                Property Name
            </h3>
            <h4 class="p">
                Category
            </h4>
            <a class="link" href="#">
                View property
                <span class="sr-only">: Property Name</span>
            </a>
        </div>
        <div class="property col-9-to-13">
            <img src="/assets/_images/placeholder9.jpg" alt="" />
            <h3 class="h4">
                Property Name
            </h3>
            <h4 class="p">
                Category
            </h4>
            <a class="link" href="#">
                View property
                <span class="sr-only">: Property Name</span>
            </a>
        </div>
    </section>

    <section class="cta wo pv">
        <img class="editable col-1-to-13" src="/assets/_images/placeholder4.jpg" alt="" />
        <div class="cta__content col-2-to-9">
            <h2 class="editable h2">
                Our History
            </h2>
            <p class="editable">
                Property and development investing is a long-term endeavour for us; we&rsquo;ve been doing it since 1977. Our founding values and principles, along with an entrepreneurial and innovative drive, still inform how we do business today. From our beginnings in Puerto Rico to our current home base in Washington, D.C., CCM Group&rsquo;s success is built upon a legacy of leadership, integrity, and loyalty.
            </p>
            <a class="editable button" href="/about/history/">
                Read our story
            </a>
        </div>
    </section>

    <section class="ft-partners wo pv">
        <div class="ft-partners__partner col-1-to-7">
            <img class="ft-partners__partner__ft-image editable" src="/assets/_images/placeholder1.jpg" alt="" />
            <img class="ft-partners__partner__logo editable" src="/uploads/partners/ccm-puerto-rico-logo.png" alt="" />
            <p class="editable">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
            </p>
            <a class="link editable" href="#">
                Visit website
            </a>
        </div>
        <div class="ft-partners__partner col-7-to-13">
            <img class="ft-partners__partner__ft-image editable" src="/assets/_images/placeholder4.jpg" alt="" />
            <img class="ft-partners__partner__logo editable" src="/uploads/partners/ccm-puerto-rico-logo.png" alt="" />
            <p class="editable">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
            </p>
            <a class="link editable" href="#">
                Visit website
            </a>
        </div>
    </section>

    <section class="partners wo pv-lg">
        <div class="section-heading col-2-to-6">
            <h2 class="editable h2">
                Partners
            </h2>
            <p class="editable">
                Commanding our team's deep experience in the real estate market, we partner with leading operating companies to build consistently successful projects and ventures.
            </p>
        </div>
        <div class="partners__logos col-7-to-13">
            <img src="/uploads/partners/chartwell-property-group.png" alt="Chartwell Property Group" />
            <img src="/uploads/partners/laurel-street.svg" alt="Laurel Street" />
        </div>
    </section>

    <section class="cta wo pv">
        <img class="editable col-1-to-13" src="/assets/_images/placeholder7.jpg" alt="" />
        <div class="cta__content col-5-to-12">
            <h2 class="editable h2">
                Our Impact
            </h2>
            <p class="editable">
                At its core, real estate is about community. People live, work, and engage in commercial and residential properties, and successful developments thrive when the people who use them do too. At CCM Group, we have a deep commitment to improving communities through our commercial and humanitarian philanthropic investments.
            </p>
            <a class="editable button" href="/impact/">
                See what we're doing
            </a>
        </div>
    </section>
</main>

{% include footer.html %}
