---
title: Home
hero_video_path: /uploads/video/ccm-hero-video.m4v
hero_video_poster_image: /uploads/video/ccm-hero-video-poster.png
hero_video_description: Test
first_featured_property: winter-park-village
second_featured_property: mosby-riverlights
third_featured_property: shoppes-at-battleground
fourth_featured_property: center-pointe-mob
partners:
    -
        partner_logo_image: /uploads/partners/chartwell-property-group.png
        partner_logo_alt: Chartwell Property Group
    -
        partner_logo_image: /uploads/partners/laurel-street.svg
        partner_logo_alt: Laurel Street
    -
        partner_logo_image: /uploads/partners/bedrock.png
        partner_logo_alt: Bedrock Real Estate Partners
    -
        partner_logo_image: /uploads/partners/INTERLINK.png
        partner_logo_alt: Interlink
    -
        partner_logo_image: /uploads/partners/middleburg-communities.png
        partner_logo_alt: Middleburg Communities
---

{% include head.html %}

<main data-barba="container" data-barba-namespace="home">
    <section class="home-hero wo pv">
        <p class="editable p-lg col-1-to-9 m-col-1-to-7 s-col-1-to-5">
            As a trusted investment partner, we're as committed to generating exceptional returns from our real estate holdings as we are to having a positive philanthropic impact.
        </p>
        <h1 class="h1 col-1-to-10 m-col-1-to-9 s-col-1-to-5">
            <span>Invest. </span>
            <span>Build. </span>
            <span>Grow. </span>
            <span>Give.</span>
        </h1>
        <div class="home-hero__video video-wrapper col-1-to-13 m-col-1-to-9 s-col-1-to-5">
            <button id="videoControl" class="pause video-control" aria-label="Pause and Play Video. Ambient, no audio.">
            </button>
            <video id="heroVideo" preload="auto" poster="{{ page.hero_video_poster_image}}" loop="" width="1280">
                <source src="{{ page.hero_video_path }}" type="video/mp4" />
                <p>{{ page.hero_video_description }}</p>
            </video>
        </div>
    </section>

    <section class="home-intro wo pv-lg">
        <div class="section-heading col-3-to-11 m-col-2-to-8 s-col-1-to-5">
            <h2 class="editable h2">
                Purpose + Patience + Diversification: Our proven success formula.
            </h2>
            <p class="editable p-lg">
                Our long-term approach and strategic partnerships deliver superior, risk-adjusted returns. With purpose-driven values, a diverse portfolio, expertise, and longevity, CCM Group is a sought-after investor for emerging and established developers seeking flexible and creative capitalization structures.
            </p>
        </div>
    </section>

    <section class="stats wo pv-lg">
        <h2 class="sr-only">Statistics</h2>
        <div class="col-1-to-5 m-col-1-to-5 s-col-1-to-5">
            <img class="editable" src="/uploads/icons/noun_buildings_1845695.svg" alt="Icon" />
            <h3 class="h1 editable">
                100+
            </h3>
            <p class="h4 editable">
                Properties in the U.S. and Puerto Rico
            </p>
        </div>
        <div class="col-5-to-9 m-col-5-to-9 s-col-1-to-5">
            <img class="editable" src="/uploads/icons/noun_neighbourhood_3265215.svg" alt="Icon" />
            <h3 class="h1 editable">
                8M+
            </h3>
            <p class="h4 editable">
                Square feet of holdings
            </p>
        </div>
        <div class="col-9-to-13 m-hide s-col-1-to-5">
            <img class="editable" src="/uploads/icons/noun_global_3264855.svg" alt="Icon" />
            <h3 class="h1 editable">
                45+&nbsp;
            </h3>
            <p class="h4 editable">
                Years of Excellence
            </p>
        </div>
    </section>

    <section class="ft-properties wo pv">
        <h2 class="h3 editable col-1-to-13 m-col-1-to-9 s-col-1-to-5">
            Featured holdings
        </h2>
        {% for fp1 in site.properties %}
        {% if fp1.slug == page.first_featured_property %}
        <div class="property ft-properties__property--ft col-1-to-13 m-col-1-to-9 s-col-1-to-5">
            {% if fp1.featured_video_path != "" %}
            <div class="video-wrapper">
                <button id="ftPropertyVideoControl" class="pause video-control" aria-label="Pause and Play Video. Ambient, no audio.">
                </button>
                <video id="ftPropertyVideo" preload="auto" poster="{{ fp1.featured_video_poster_image}}" loop="" width="1280">
                    <source src="{{ fp1.featured_video_path }}" type="video/mp4" />
                    <p>{{ fp1.featured_video_description }}</p>
                </video>
            </div>
            {% else %}
            <img src="{{ fp1.featured_image }}" alt="{{ fp1.featured_image_alt }}" />
            {% endif %}
            <h3 class="h4">
                {{ fp1.title }}
            </h3>
            <h4 class="p">
                {{ fp1.category }}
            </h4>
            <a class="link" href="{{ fp1.url }}">
                View property
                <span class="sr-only">: {{ fp1.title }}</span>
            </a>
        </div>
        {% endif %}
        {% endfor %}

        {% for fp2 in site.properties %}
        {% if fp2.slug == page.second_featured_property %}
        <div class="property col-1-to-5 m-col-1-to-5 s-col-1-to-5">
            <img src="{{ fp2.featured_image }}" alt="{{ fp2.featured_image_alt }}" />
            <h3 class="h4">
                {{ fp2.title }}
            </h3>
            <h4 class="p">
                {{ fp2.category }}
            </h4>
            <a class="link" href="{{ fp2.url }}">
                View property
                <span class="sr-only">: {{ fp2.title }}</span>
            </a>
        </div>
        {% endif %}
        {% endfor %}

        {% for fp3 in site.properties %}
        {% if fp3.slug == page.third_featured_property %}
        <div class="property col-5-to-9 m-col-5-to-9 s-col-1-to-5">
            <img src="{{ fp3.featured_image }}" alt="{{ fp3.featured_image_alt }}" />
            <h3 class="h4">
                {{ fp3.title }}
            </h3>
            <h4 class="p">
                {{ fp3.category }}
            </h4>
            <a class="link" href="{{ fp3.url }}">
                View property
                <span class="sr-only">: {{ fp3.title }}</span>
            </a>
        </div>
        {% endif %}
        {% endfor %}

        {% for fp4 in site.properties %}
        {% if fp4.slug == page.fourth_featured_property %}
        <div class="property col-9-to-13 m-hide s-col-1-to-5">
            <img src="{{ fp4.featured_image }}" alt="{{ fp4.featured_image_alt }}" />
            <h3 class="h4">
                {{ fp4.title }}
            </h3>
            <h4 class="p">
                {{ fp4.category }}
            </h4>
            <a class="link" href="{{ fp4.url }}">
                View property
                <span class="sr-only">: {{ fp4.title }}</span>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </section>

    <section class="cta wo pv">
        <img class="editable col-1-to-13 m-col-1-to-9 s-col-1-to-5" src="/assets/_images/placeholder4.jpg" alt="" />
        <div class="cta__content col-2-to-9 m-col-2-to-8 s-col-1-to-5">
            <h2 class="editable h2">
                Our History
            </h2>
            <p class="editable">
                Property and development investing is a long-term endeavour for us; we&rsquo;ve been doing it since 1977. Our founding values and principles, along with an entrepreneurial and innovative drive, still inform how we do business today. From our beginnings in Puerto Rico to our current home base in Washington, D.C., CCM Group&rsquo;s success is built upon a legacy of leadership, integrity, and loyalty.
            </p>
            <a class="editable button" href="/about/history">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Read our story
            </a>
        </div>
    </section>

    <section class="ft-partners wo pv">
        <div class="ft-partners__partner col-1-to-7 m-col-1-to-5 s-col-1-to-5">
            <img class="ft-partners__partner__ft-image editable" src="/assets/_images/placeholder1.jpg" alt="" />
            <img class="ft-partners__partner__logo editable" src="/uploads/partners/ccm-puerto-rico-logo.png" alt="" />
            <p class="editable">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
            </p>
            <a class="link editable" href="#">
                Visit website
            </a>
        </div>
        <div class="ft-partners__partner col-7-to-13 m-col-5-to-9 s-col-1-to-5">
            <img class="ft-partners__partner__ft-image editable" src="/assets/_images/placeholder4.jpg" alt="" />
            <img class="ft-partners__partner__logo editable" src="/uploads/partners/ccm-puerto-rico-logo.png" alt="" />
            <p class="editable">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
            </p>
            <a class="link editable" href="#">
                Visit website
            </a>
        </div>
    </section>

    <section class="partners wo pv-lg">
        <div class="section-heading col-2-to-6 m-col-2-to-8 s-col-1-to-5">
            <h2 class="editable h2">
                Partners
            </h2>
            <p class="editable">
                Commanding our team's deep experience in the real estate market, we partner with leading operating companies to build consistently successful projects and ventures.
            </p>
        </div>
        <div class="partners__logos col-7-to-13 m-col-2-to-8 s-col-1-to-5">
            {% for partner in page.partners %}
            <img src="{{ partner.partner_logo_image }}" alt="{{ partner.partner_logo_alt }}" />
            {% endfor %}
        </div>
    </section>

    <section class="cta wo pv">
        <img class="editable col-1-to-13 m-col-1-to-9 s-col-1-to-5" src="/assets/_images/placeholder7.jpg" alt="" />
        <div class="cta__content col-5-to-12 m-col-2-to-8 s-col-1-to-5">
            <h2 class="editable h2">
                Our Impact
            </h2>
            <p class="editable">
                At its core, real estate is about community. People live, work, and engage in commercial and residential properties, and successful developments thrive when the people who use them do too. At CCM Group, we have a deep commitment to improving communities through our commercial and humanitarian philanthropic investments.&nbsp;
            </p>
            <a class="editable button" href="/impact">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                See what we're doing
            </a>
        </div>
    </section>
</main>

{% include footer.html %}
