---
title: Properties
permalink: /investment/properties
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="investment">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9 m-col-1-to-7 s-col-1-to-5">Properties</h1>
        <p class="editable p-lg col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Donec odio. Quisque volutpat.
        </p>
    </header>

    <main>
        <section class="stats wo pv-lg">
            <h2 class="sr-only">Statistics</h2>
            <div class="col-1-to-5 m-col-1-to-5 s-col-1-to-5">
                <img class="editable" src="/assets/_images/icon-hirise.svg" alt="Icon">
                <h3 class="h1 editable">
                    000
                </h3>
                <p class="h4 editable">
                    Properties in the U.S. and Puerto Rico
                </p>
            </div>
            <div class="col-5-to-9 m-col-5-to-9 s-col-1-to-5">
                <img class="editable" src="/assets/_images/icon-hirise.svg" alt="Icon">
                <h3 class="h1 editable">
                    000
                </h3>
                <p class="h4 editable">
                    Square feet of holdings
                </p>
            </div>
            <div class="col-9-to-13 m-hide s-col-1-to-5">
                <img class="editable" src="/assets/_images/icon-hirise.svg" alt="Icon">
                <h3 class="h1 editable">
                    000
                </h3>
                <p class="h4 editable">
                   Employees
                </p>
            </div>
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 m-col-4-to-9 s-col-1-to-5 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>

            {% assign mixedUse = site.properties | where:"category", "Mixed Use" %}
            {% for item in mixedUse %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                </h4>
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 m-col-4-to-9 s-col-1-to-5 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>
            {% assign commercial = site.properties | where:"category", "Commercial" %}
            {% for item in commercial %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                </h4>
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 m-col-4-to-9 s-col-1-to-5 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>
            {% assign residential = site.properties | where:"category", "Residential" %}
            {% for item in residential %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                </h4>
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 m-col-4-to-9 s-col-1-to-5 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>
            {% assign other = site.properties | where:"category", "Other" %}
            {% for item in other %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                </h4>
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>
        
    </main>
</div>

{% include footer.html %}
