---
title: Properties
permalink: /investment/properties
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="investment">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            Featured Properties
        </h1>
        <p class="editable p-lg col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            Our featured properties exhibit a cross-section of our investment portfolio.
        </p>
    </header>

    <main>
        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">
                Mixed Use
            </h2>
            <p class="lg-p editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">
                Our mixed-use holdings create or enhance value through offering complementary uses within one project (retail, residential, and office) that promote a sense of community.&nbsp;
            </p>

            {% assign mixedUse = site.properties | where:"category", "Mixed Use" %}
            {% for item in mixedUse %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">
                Commercial
            </h2>
            <p class="lg-p editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">
                Our commercial holdings, comprising primarily retail and medical office assets, focus on strong anchor tenancy alongside a diverse set of supportive tenants.
            </p>
            {% assign commercial = site.properties | where:"category", "Commercial" %}
            {% for item in commercial %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">
                Residential
            </h2>
            <p class="lg-p editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">
                Our residential holdings include ground-up development, Class A and Class B projects, in gateway and growing tertiary markets, with a focus on strong fundamentals and superior locations.
            </p>
            {% assign residential = site.properties | where:"category", "Residential" %}
            {% for item in residential %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-4 s-col-1-to-5">
                Other
            </h2>
            <p class="lg-p editable col-7-to-13 m-col-4-to-9 s-col-1-to-5 right">
                Other holdings in CCM's portfolio include hospitality, self-storage, and single tenant (net lease) projects, with unique value propositions that provide diverse asset allocation to the broader portfolio.
            </p>
            {% assign other = site.properties | where:"category", "Other" %}
            {% for item in other %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="property {% if mod == 0 %}col-7-to-13 m-col-5-to-9 s-col-1-to-5{% else %}col-1-to-7 m-col-1-to-5 s-col-1-to-5{% endif %}">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt }}" />
                <h3 class="h4">
                    {{ item.title }}
                </h3>
                <!--
                <h4 class="p">
                    {{ item.category }}
                
                -->
                <a class="link" href="{{ item.url }}">
                    View property
                    <span class="sr-only">: {{ item.title }}</span>
                </a>
            </div>
            {% endfor %}
        </section>
        
    </main>
</div>

{% include footer.html %}
