<section class="general-content wo pv">
    <div class="col-4-to-10 m-col-2-to-8 s-col-1-to-5">
        {{ include.block.general_content_html }}
        <h3>Heading</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare aliquam accumsan. Nunc elementum, nulla id eleifend maximus, eros ipsum facilisis justo, nec iaculis felis est vel purus. Aliquam sed hendrerit diam. In vitae vulputate arcu. Proin id neque aliquam odio elementum dapibus vitae ut magna. Curabitur non eleifend purus. Nunc pharetra laoreet ex nec posuere. Vivamus vel magna augue.
        </p>
        <p>
            Quisque sagittis tellus ut tristique aliquam. Duis gravida, dolor vel euismod tristique, nisl libero vehicula neque, eu lacinia nisl lectus vitae diam. Fusce vehicula enim id est vulputate, nec tincidunt odio tincidunt. Vestibulum justo lorem, sollicitudin non commodo eu, ultrices at nisi. Praesent laoreet feugiat tincidunt. Phasellus nibh ipsum, hendrerit at felis ut, suscipit vehicula odio. Aenean sit amet velit sit amet nisi ullamcorper consectetur. Pellentesque finibus massa non nibh bibendum condimentum. Suspendisse scelerisque, metus eu accumsan gravida, magna lorem aliquam felis, vel blandit tortor ex eu odio. Vestibulum viverra rhoncus libero vitae porta. Nunc a odio ut sapien eleifend egestas et vel orci.
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
            <li>Nunc dignissim risus id metus.</li>
            <li>Cras ornare tristique elit.</li>
            <li>Vivamus vestibulum ntulla nec ante.</li>
        </ul>
        <h4>Heading</h4>
        <p>
            Quisque sagittis tellus ut tristique aliquam. Duis gravida, dolor vel euismod tristique, nisl libero vehicula neque, eu lacinia nisl lectus vitae diam. Fusce vehicula enim id est vulputate, nec tincidunt odio tincidunt. Vestibulum justo lorem, sollicitudin non commodo eu, ultrices at nisi. Praesent laoreet feugiat tincidunt. Phasellus nibh ipsum, hendrerit at felis ut, suscipit vehicula odio. Aenean sit amet velit sit amet nisi ullamcorper consectetur. Pellentesque finibus massa non nibh bibendum condimentum. Suspendisse scelerisque, metus eu accumsan gravida, magna lorem aliquam felis, vel blandit tortor ex eu odio. Vestibulum viverra rhoncus libero vitae porta. Nunc a odio ut sapien eleifend egestas et vel orci.
        </p>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
            <li>Nunc dignissim risus id metus.</li>
            <li>Cras ornare tristique elit.</li>
            <li>Vivamus vestibulum ntulla nec ante.</li>
        </ol>
    </div>
</section>