<section class="wo pv-lg">
    <div class="section-heading col-3-to-9">
        <h2 class="h2">
            {{ include.block.heading }}
            Heading
        </h2>
        <div>
            {{ include.block.content_html }}
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
            </p>
        </div>
    </div>
</section>