---
title: History
permalink: /about/history
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="investment">
    <header class="wo pv-med page-header">
        <h1 class="h1 col-2-to-9">History</h1>
        <p class="col-2-to-9">
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Donec odio. Quisque volutpat.
        </p>
    </header>

    <main>
        <div class="history-line"></div>
        <section class="history-entry history-entry--left wo">
            <div class="history-entry__image col-2-to-8">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
            </div>
            <div class="history-entry__content col-8-to-13">
                <h2 class="h2">1900</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
                </p>
            </div>
        </section>
        <section class="history-entry history-entry--right wo">
            <div class="history-entry__image col-6-to-12">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
            </div>
            <div class="history-entry__content col-1-to-6">
                <h2 class="h2">1900</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare.
                </p>
            </div>
        </section>
        
    </main>
</div>

{% include footer.html %}