---
title: Investment
permalink: /investment/
---

{% include head.html %}

<div data-barba="container" data-barba-namespace="investment">
    <header class="wo pv-med page-header">
        <h1 class="h1 editable col-2-to-9">Investment</h1>
        <p class="editable col-2-to-9">
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Donec odio. Quisque volutpat.
        </p>
    </header>

    <main>
        <section class="stats wo pv-lg">
            <h2 class="sr-only">Statistics</h2>
            <div class="col-1-to-5">
                <img class="editable" src="/assets/_images/icon-hirise.svg" alt="Icon">
                <h3 class="h1 editable">000</h3>
                <p class="h4 editable">Properties in the U.S. and Puerto Rico</p>
            </div>
            <div class="col-5-to-9">
                <img class="editable" src="/assets/_images/icon-hirise.svg" alt="Icon">
                <h3 class="h1 editable">000</h3>
                <p class="h4 editable">Square feet of holdings</p>
            </div>
            <div class="col-9-to-13">
                <img class="editable" src="/assets/_images/icon-hirise.svg" alt="Icon">
                <h3 class="h1 editable">000</h3>
                <p class="h4 editable">Employees</p>
            </div>
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-11 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>
            <div class="property col-1-to-7">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
            <div class="property col-7-to-13">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-11 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>
            <div class="property col-1-to-7">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
            <div class="property col-7-to-13">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-11 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>
            <div class="property col-1-to-7">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
            <div class="property col-7-to-13">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
            <div class="property col-1-to-7">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
        </section>

        <section class="wo pv-med property-section">
            <h2 class="h3 editable col-1-to-7 m-col-1-to-11 s-col-1-to-5">Category</h2>
            <p class="lg-p editable col-7-to-13 right">
                Lorem ipsum dolor sit amet, consectetuer adipiscing eliit.
            </p>
            <div class="property col-1-to-7">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
            <div class="property col-7-to-13">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>

            <div class="property col-1-to-7">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
            <div class="property col-7-to-13">
                <img src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
                <h3 class="h4">
                    Property Name
                </h3>
                <h4 class="p">
                    Category
                </h4>
                <a class="link" href="#">
                    View property
                    <span class="sr-only">: Property Name</span>
                </a>
            </div>
        </section>
        
    </main>
</div>

{% include footer.html %}