<div id="map" style="width:300px;height:300px;"></div>
<script>
    window.mapData = {
        "latitude": {{ include.latitude }},
        "longitude": {{ include.longitude }},
        "zoom": {{ include.zoom }}
    };

    function initMap() {
        var myOptions = {
            scrollwheel: false,
            draggable: false,
            panControl: false,
            disableDefaultUI: true,
            zoom: window.mapData.zoom,
            maxZoom: window.mapData.zoom,
            minZoom: window.mapData.zoom,
            center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "stylers": [
                        {
                            "saturation": -70
                        },
                        {
                            "lightness": 37
                        },
                        {
                            "gamma": 1.15
                        }
                    ]
                },
                {
                    "elementType": "labels",
                    "stylers": [
                        {
                            "gamma": 0.26
                        },
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "stylers": [
                        {
                            "lightness": 0
                        },
                        {
                            "saturation": 0
                        },
                        {
                            "hue": "#ffffff"
                        },
                        {
                            "gamma": 0
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "lightness": 50
                        },
                        {
                            "saturation": 0
                        },
                        {
                            "hue": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "lightness": -50
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "lightness": 20
                        }
                    ]
                }
            ]
        };

        var map = new google.maps.Map(document.getElementById('map'), myOptions);

        var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude)
        });

        google.maps.event.addDomListener(window, 'resize', function () {
            map.setCenter(myOptions.center);
        });
    }
</script>