<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="">
    <meta name="web-author" content="Manoverboard Inc. http://www.manoverboard.com">
    <meta name="author" content="">
    <meta name="theme-color" content="#FFFFFF">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
    
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#2e3192">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#2e3192">
    
    <!-- gsap in the footer -->

    <!-- scripts -->
    <!-- jquery in the footer -->
    <script src="/assets/js/smoothscroll.js"></script>
    <script src="/assets/js/global.js"></script>
    <script id="googleScripts" async src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/main.css">  

    <!-- font preload -->
    <link rel="preload" href="https://ccmgroupllc.com/assets/fonts/tiempos-headline-light.woff2" as="font" type="font/woff" crossorigin>

</head>

{% assign pageURLsplit = page.url | split: '/' %}
{% capture pagePermalink %}/{{ pageURLsplit[1] }}{% endcapture %}

<body id="bodyID" data-barba="wrapper" class="page-{{ pageURLsplit }}">
    <a id="skipLink" href="#skipNavigation">Skip Navigation</a>
    <div id="circle"></div>
    
    <div id="scrollWrapper">
        <header id="mainHeader" class="main-header wo">
            <div class="main-header__logo-area col-1-to-4 m-col-1-to-3 s-col-1-to-5">
                <a href="/">
                    <img src="/assets/_images/ccm-logo.svg" alt="CCM Group LLC Logo" />
                </a>
            </div>
            <nav id="mainNav" class="main-header__nav col-4-to-13 m-col-3-to-9 s-col-1-to-5">  
                <button id="navToggle" class="nav-toggle strip" aria-expanded="false" aria-controls="mainNav">
                    <img class="nav-toggle__open" src="/assets/_images/mobile-nav-open.svg" alt="Open Navigation">
                    <img class="nav-toggle__close" src="/assets/_images/mobile-nav-close.svg" alt="Close Navigation">
                </button>
                <ul>  
                {% for navItem in site.data.navigation %}
                    <li {% if navItem.submenu != null %}class="main-header__nav__has-children" aria-haspopup="true" aria-expanded="false"{% endif %}>
                        <a class="main-header__nav__link{% if pagePermalink == navItem.url %} active{% endif %}" href="{{ navItem.url }}">{{ navItem.title }}</a>
                        {% if navItem.submenu != null %}
                        <ul>
                            {% for subItem in navItem.submenu %}
                            <li class="sub-item-{{ forloop.index }}">
                                <a class="main-header__nav__link{% if page.url == subItem.url %} active{% endif %}" href="{{ subItem.url }}">{{ subItem.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </header>
        <div id="skipNavigation"></div>
