{% include head.html %}

<div data-barba="container" data-barba-namespace="section">
    <header class="wo pv-med page-header">
        <h1 class="h1 col-2-to-9">Property Name</h1>
        <p class="col-2-to-9">
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Donec odio. Quisque volutpat.
        </p>
    </header>
    
    <main>

        <section class="wo property-intro">
            <img class="col-1-to-10" src="/assets/_images/chuttersnap-eXtKryPRVC8-unsplash.jpg" alt="">
            <div class="property-intro__content">
                <h2 class="h3">Property partner</h2>
                <img src="/assets/_images/partner-logo.jpg" alt="">
                <h2 class="h3">About the property</h2>
                <dl>
                    <dt>Property type</dt>
                    <dd>Commercial</dd>
                    <dt>Size</dt>
                    <dd>47,327 sq ft.</dd>
                    <dt>Attribute</dt>
                    <dd>XYZ</dd>
                </dl>
            </div>
        </section>
        {% include /blocks/full-w-image.html %}
    
    </main>
</div>

{% include footer.html %}