<section class="image-sidebar wo">
    <img class="col-2-to-8 m-col-2-to-6 s-col-1-to-5" src="{{ include.block.image }}/assets/_images/placeholder1.jpg" alt="{{ include.block.image_alt_text}}">
    <div class="general-content col-8-to-11">
        <h2>Sit amet
            {{ include.block.sidebar_heading }}
        </h2>
        <p class="p-lg">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet cura non eleifend purus nunc pharetra.
            {{ include.block.sidebar_caption }}
        </p>
    </div>
</section>