<section class="stats wo pv-lg">
    <h2 class="sr-only">Statistics</h2>
    <div class="col-1-to-5">
        <img src="/assets/_images/icon-hirise.svg" alt="Icon">
        <h3 class="h1">000</h3>
        <p class="h4">Properties in the U.S. and Puerto Rico</p>
    </div>
    <div class="col-5-to-9">
        <img src="/assets/_images/icon-hirise.svg" alt="Icon">
        <h3 class="h1">000</h3>
        <p class="h4">Square feet of holdings</p>
    </div>
    <div class="col-9-to-13">
        <img src="/assets/_images/icon-hirise.svg" alt="Icon">
        <h3 class="h1">000</h3>
        <p class="h4">Employees</p>
    </div>
</section>