<section class="stats wo pv-lg">
    <h2 class="sr-only">Statistics</h2>
    <div class="col-1-to-5 m-col-1-to-5 s-col-1-to-5">
        <img src="{{ include.block.stat_1_icon_image }}" alt="Icon">
        <h3 class="h1">
            {{ include.block.stat_1_stat }}
        </h3>
        <p class="h4">
            {{ include.block.stat_1_text }}
        </p>
    </div>
    <div class="col-5-to-9 m-col-5-to-9 s-col-1-to-5">
        <img src="{{ include.block.stat_2_icon_image }}" alt="Icon">
        <h3 class="h1">
            {{ include.block.stat_2_stat }}
        </h3>
        <p class="h4">
            {{ include.block.stat_2_text }}
        </p>
    </div>
    <div class="col-9-to-13 m-hide s-col-1-to-5">
        <img src="{{ include.block.stat_3_icon_image }}" alt="Icon">
        <h3 class="h1">
            {{ include.block.stat_3_stat }}
        </h3>
        <p class="h4">
            {{ include.block.stat_3_text }}
        </p>
    </div>
</section>