<section class="stats wo pv-lg">
    <h2 class="sr-only">Statistics</h2>
    <div class="col-1-to-5">
        <img src="{{ include.block.stat_1_icon }}/assets/_images/icon-hirise.svg" alt="Icon">
        <h3 class="h1">
            {{ include.block.stat_1_stat }}000
        </h3>
        <p class="h4">
            {{ include.block.stat_1_text }}Properties in the U.S. and Puerto Rico
        </p>
    </div>
    <div class="col-5-to-9">
        <img src="{{ include.block.stat_2_icon }}/assets/_images/icon-hirise.svg" alt="Icon">
        <h3 class="h1">
            {{ include.block.stat_2_stat }}000
        </h3>
        <p class="h4">
            {{ include.block.stat_2_text }}Square feet of holdings
        </p>
    </div>
    <div class="col-9-to-13">
        <img src="{{ include.block.stat_3_icon }}/assets/_images/icon-hirise.svg" alt="Icon">
        <h3 class="h1">
            {{ include.block.stat_3_stat }}000
        </h3>
        <p class="h4">
            {{ include.block.stat_3_text }}Employees
        </p>
    </div>
</section>