<section class="team wo pv">
    <h2 class="h3 team__header col-2-to-12 m-col-1-to-9 s-col-1-to-5">
        {{ include.block.heading }}
    </h2>
    <div class="team__container col-2-to-11 m-col-1-to-9 s-col-1-to-5">    
    {% for teamMember in include.block.team_member %}
        <div class="team__container__team__member">
            <img aria-hidden="true" src="{{ teamMember.image }}" alt="">
            <h3 class="h4">{{ teamMember.name }}</h3>
            <h4 class="p">{{ teamMember.job_title }}</h4>
            <p>{{ teamMember.bio_text }}</p>
            {% if teamMember.read_more == true %}
            <button class="link">
                Read more
                <span class="sr-only"> about {{ teamMember.name }}.</span>
            </button>
            <div class="team__container__team__member__more-bio">
                {{ teamMember.read_more_html }}
            </div>
            {% endif %}
        </div>
    {% endfor %} 
    </div>
</section>