@media only screen and (min-width: 1200px) {
    .main-header {
        overflow: visible;

        .main-header__nav {

            > ul {
                display: flex;
                justify-content: flex-end;

                > li {
                    padding: 3px 24px 20px 24px;
                    position: relative;
                    font-size: 100%;
                    line-height: 1;

                    a {
                        font-family: $sohneBold;
                        font-size: 180%;
                        color: $blue;
                        line-height: 1.2;
                        transition: all .15s $easing;

                        &:hover {
                            color: $pink;
                        }
                    }

                    > ul {
                        display: none;
                        position: absolute;
                        z-index: 1234;
                        height: 140px;
                        width: 215px;
                        background-color: white;
                        left: 0;
                        padding: 16px;
                        margin-top: 20px;

                        &:before {
                            content: '';
                            border-top: 2px solid $blue;
                            border-left: 2px solid $blue;
                            width: 80px;
                            height: 80px;
                            display: block;
                            position: absolute;
                            top: -2px;
                            left: -2px;
                        }

                        li {
                            padding-bottom: 13px;

                            a {
                                position: relative; 

                                &:after {
                                    content: '';
                                    display: block;
                                    opacity: 0;
                                    position: absolute;
                                    background-color: $blue;
                                    height: 8px;
                                    width: 8px;
                                    right: -16px;
                                    top: 9px;
                                    transition: all .2s $easing;
                                }

                                &:hover:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    &:hover > ul,
                    &:focus-within > ul {
                        display: block;
                    }

                    &.main-header__nav__has-children:after {
                        content: '+';
                        font-family: $sohneBold;
                        font-size: 180%;
                        color: $blue;
                        line-height: 1;
                    }
                }
            }
        }

        #navToggle {
            display: none;
        }
    }


}

@media only screen and (min-width: 600px) and (max-width: 1200px) {

}

@media only screen and (max-width: 600px) {
    h1, h2, h3, h4, h5, h6, li, p,
    .main-header__nav a, a.link, a,
    input, button, textarea {
        font-weight: 500 !important;
        font-size: 180%;
        line-height: 1.111;
        letter-spacing: 0px;
    }

    // comment!!!! 
    // better comment

}