{% include head.html %}

<div data-barba="container" data-barba-namespace="section">
    <header class="wo pv-med page-header">
        <h1 class="h1 col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            {{ page.title }}
        </h1>
        <p class="p-lg col-2-to-9 m-col-1-to-7 s-col-1-to-5">
            {{ page.description }}
        </p>
    </header>
    
    <main>
        <section class="wo pv property-intro">
            <img class="col-1-to-10 m-col-1-to-6 s-col-1-to-5" src="{{ page.featured_image }}" alt="{{ page.featured_image_alt }}">
            <div class="property-intro__content">
                <h2 class="h3">Property partner</h2>
                <img src="{{ page.partner_logo_image }}" alt="{{ page.partner_logo_alt }}">
                <h2 class="h3">About the property</h2>
                <dl>
                {% for about in page.about_property %}
                    <dt>{{ about.data_title }}</dt>
                    <dd>{{ about.data }}</dd>
                {% endfor %}
                </dl>
            </div>
        </section>

    {% for block in page.page_blocks %}
        {% case block._id %}
            {% when 'property_location' %}
                {% include property-location.html block=block %}
    
            {% when 'full_w_image' %}
                {% include /blocks/full-w-image.html block=block %}

            {% else %}
            <!-- else -->
        {% endcase %}
    {% endfor %}    
    </main>
</div>

{% include footer.html %}